<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Input PhoneNumber</title>
</head>
<style>#error {
    color: red!important;
}</style>
<body>
<form action="#" th:action="@{/}" th:object="${phonenumber}"
      method="POST">
    <table>
        <tr>
            <td>PhoneNumber</td>
            <td><input type="text" th:field="*{number}"/></td>
            <td id="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Name Error</td>
        </tr>
    </table>
    <button type="submit">submit</button>
</form>
</body>
</html>
